@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
body {
  /*background-image: url('./img.gif');*/
  
  font-family: 'Nunito', sans-serif;
}
body,
ul {
  margin: 0px;
  padding: 0px;
}

a {
  color: white;
  text-decoration: none;
  font-weight: 700;
}

/*
a:hover {
  background: rgba(0, 0, 0, 0.02);
}*/

#logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

#header {
  box-sizing: border-box;
  height: 70px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: -webkit-linear-gradient(0deg,#ed95aa 0%,#A25065 100%);
}

#menu {
  display: flex;
  list-style: none;
  gap: 0.5rem;
}

#menu a {
  display: block;
  padding: 0.5rem;
}

#btn-mobile {
  display: none;
}

@media (max-width: 600px) {
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }
  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    text-align: center;
    /*border-bottom: 1px solid rgba(0, 0, 0, 0.05);*/
  }
  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  #menu-hamburguer {
    border-top: 2px solid;
    width: 20px;
  }
  #menu-hamburguer::after,
  #menu-hamburguer::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #menu-hamburguer {
    border-top-color: transparent;
  }
  #nav.active #menu-hamburguer::before {
    transform: rotate(135deg);
  }
  #nav.active #menu-hamburguer::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}


.container{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(6 , 250px);
  grid-gap: 10px 10px;
}
.item{
  font-size: 16px;
  color: black;
  padding: 10px 20px;
  /*border-radius: 5px;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);*/
}
.item-1{
  grid-column: 1 / 5;
  grid-row: 1 / 4;
  /*background-color: #db8398;*/
  background-image: -webkit-linear-gradient(0deg,#ed95aa 0%,#A25065 100%);
  /*background: linear-gradient(90deg, hsla(346, 71%, 76%, 1) 0%, hsla(345, 41%, 59%, 1) 100%);*/
}

.item-9{
  grid-column: 1 / 5;
  grid-row: 4 / 5;
  /*background-color: #6d4c41;*/
}

.item-5{
  grid-column: 1 / 2;
  grid-row: 5 / 6;
  background-color: #f9f9ff;
  border-radius: 5px;
}
.item-6{
  grid-column: 2 / 3;
  grid-row: 5 / 6;
  background-color: #f9f9ff;
  border-radius: 5px;
}
.item-7{
  grid-column: 3 / 4;
  grid-row: 5 / 6;
  background-color: #f9f9ff;
  border-radius: 5px;
}

.item-8{
  grid-column: 4 / 5;
  grid-row: 5 / 6;
  background-color: #f9f9ff;
  border-radius: 5px;
}

.item-10{
  grid-column: 1 / 5;
  grid-row: 6 / 7;
  background-color: #212529;
}


@media screen and (max-width: 768px){
  .container{
      display: block;
  }
  .item{
      height: 200px;
      margin-bottom: 10px;
  }
}

.item h4 {
  color: #333333
}